<h2>Albums for {{name}}</h2>
<div class="artists">
  {{#each albums}}
    <div class="artist">
      <div class="data">
        <img src="{{images.1.url}}" />
        <div class="text">
          <h3>{{name}}</h3>
          <a href="/tracks/{{id}}_{{name}}">View Tracks</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>